nav{
    padding: 10px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

}
.color-adjust
{
    color: red;
}
p{
    color: red;
    text-align: center;
}